$main_color: #fff;
$second_color: #443d5b;
$darker_second_color: #302940;

$lightest_text_color: #fff;
$lighter_text_color: #eae6eb;
$main_text_color: #443d5b;
$darker_text_color: #0b1033;
$bg_color: #eae6eb;
$hover_menu_bg: #f4f2f5;

$main_transition: all 0.4s ease 0s;
